name: Vaultwarden Backup

on:
  schedule:
    - cron: '0 2 * * *' # Runs daily at 2am UTC
  workflow_dispatch:     # Allow manual runs too

jobs:
  backup:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      BACKUP_REPO: https://x-access-token:${{ secrets.BACKUP_TOKEN }}@github.com/jsgillhq/vaultwarden-backup.git

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Git
      run: sudo apt-get update && sudo apt-get install -y git

    - name: Run backup.sh
      run: |
        chmod +x ./backup.sh
        ./backup.sh
